<div id="overlay">

    <div class="overlay_container">
        <!-- top bar -> cancel button  -->
        <i class="material-icons close">close</i>
        <br> <br>
        <!-- icon and textarea -->
        <div class="text_edit">
            <i class="material-icons" style="font-size: 55px !important;">account_circle</i>
            <textarea name="edit_text" class="edit_text"></textarea>
        </div>
        <!-- save -->

        <button>Save</button>
    </div>
</div>