<div class="box_post">
    <div class="user-details">
       <i class="material-icons dp_post" style="font-size: 50px;">account_circle</i>
       <b>Manmay Chakraborty</b><i id="opacity"> @imanmay2</i> . Dec 28, 2024
    </div>
    <p class="post_para roboto-thin">
       Lorem ipsum dolor sit, amet consectetur adipisicing elit.
       Iste accusantium suscipit tenetur molestiae, architecto quae vitae officia quam temporibus minima delectus
       blanditiis,
       ipsam excepturi? Ex magni ullam consequuntur ea delectus! </p> <br> <br> <br>
    <div class="post_icons">
       <i class="material-icons-outlined like">
          thumb_up
       </i><i class="material-icons share">
          ios_share
       </i><i class="material-icons bookmark">
          bookmark_outlined
       </i>
    </div></div>