<div class="profile-container">
    <div class="profile-picture">
        <img src="https://images.unsplash.com/photo-1719937206589-d13b6b008196?q=80&w=2535&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Profile Picture">
    </div>
    <div class="profile-info">
        <h1>Manmay Chakraborty</h1>
        <div>
            <p class="username">@imanmay2</p>
            <div class="bio">
                <p>Excellent Programmer. </p>
            </div>
        </div>
        <div class="follow-info">
            <span><strong>345</strong> posts</span>
            <span><strong>3</strong> bookmarked</span>
            <span><strong>10</strong> liked</span>
        </div>
    </div>
</div>