<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwinInBook</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO+Guides&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=home" /> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" /> -->
</head>

<body>
    <table class="sidebar">
        <tr>
            <td>
                <font size=4><b>
                        <p>
                        <h1><img src="TwitInbook.png" alt="TwitInbook" class="logo"><I
                                class="playwrite-co-guides-regular tangerine-regular tangerine-bold">TwitInBook&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</I>
                        </h1>
                        </p>
                    </b>
                </font>
        ̀ <tr>
            <td>
                <b>
                    <i class="material-icons icon">home</i>Home
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <i class="material-icons icon">search</i>Search
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <i class="material-icons icon">favorite</i>Favourite
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <i class="material-icons icon">loupe</i>Create
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <i class="material-icons icon">account_circle</i>Profile
                </b>
            </td>
        </tr>
    </table>
</body>

</html>