<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwinInBook</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/sidebar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CO+Guides&family=Tangerine:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <table class="sidebar">
        <tr>
            <td>
                <font size=5><b>
                        <h1 class="top-brand-logo sidebar-items"><img src="TwitInbook.png" alt="TwitInbook" class="logo"><I 
                                class="playwrite-co-guides-regular tangerine-regular tangerine-bold">TwitInBook</I></span>
                        </h1>
                    </b>
                </font>
         <tr>
            <td>
                <span class="sidebar-items">
                    <i class="material-icons icon">home</i><span class="sidebar-items-title">Home</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="sidebar-items">
                    <i class="material-icons icon">search</i><span class="sidebar-items-title">Search</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="sidebar-items">

                    <i class="material-icons icon">favorite</i><span class="sidebar-items-title">Favourite</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="sidebar-items">
                    <i class="material-icons icon">loupe</i><span class="sidebar-items-title">Create</span>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="sidebar-items">
                    <i class="material-icons icon">account_circle</i><span class="sidebar-items-title">Profile</span>
                </span>
            </td>
        </tr>
    </table>
</body>

</html>