<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TwinInBook</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <font size=4><b><I>TwinInBook</I></b></h2></font>
    <table cellspacing="8" cellspacing="2" class="sidebar">
        <tr>
            <td>
               <font size=2> L</font>
            </td>
        </tr>
        <tr>
            <td>
                <font size=2> H </font>
            </td>
        </tr>
        <tr>
            <td>
                <font size=2> S</font>
            </td>
        </tr>
        <tr>
            <td>
                <font size=2> B</font>
            </td>
        </tr>
        <tr>
            <td>
                <font size=2> P</font>
            </td>
        </tr>
        <tr>
            <td>
                <font size=2> Pro</font>
            </td>
        </tr>
    </table>
</body>
</html>