<body>
   <div class="home_container">
      <h1> Your Posts</h1>
      <br>
      <% for(let i=0;i<=4;i++){ %>
         <%- include("./components/post") %>
         <br>
         
     <% } %>
      
      <br>
      <!-- <hr width="100%"> -->
   </div>
</body>