<body>
   <div class="home_container" id="home_container">
      <h1 class="heading"> Your Posts</h1>
      <br>
      <div id="post_list">
      <% for(let i of data){ %>
         <%- include("./components/post",{i:i}) %>
         <br>
         
     <% } %>
   </div>
      <br>

   </div>
</body>