<div class="rightbar_container">
    <div style="border-color: bisque; border-radius: 24px;">
    <br><br><div class="post_div"><img src="https://images.unsplash.com/photo-1725714834773-b5f278346915?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="some image" class="post_profile_icon">
    <form action="/post" method="POST">
    <textarea name="post_" placeholder="What's Happening?!" class="whats_happening" id="text-area" required></textarea></div>
    <button class="post_button"><b>POST</b></button>    </form> 
</div></div>