
<div class="rightbar_container">
    <div style="border-color: bisque; border-radius: 24px;">
    <br><br><i class="material-icons icon">account_circle</i>
    <textarea name="post__" placeholder="What's Happening?!" class="whats_happening"></textarea>
    <button class="post_button">POST</button>    
</div></div>