<div class="rightbar_container">
    <div style="border-color: bisque; border-radius: 24px;">
    <br><br><div class="post_div"><i class="material-icons icon post_profile_icon">account_circle</i>
    <form action="/" method="POST">
    <textarea name="post_" placeholder="What's Happening?!" class="whats_happening" id="text-area"></textarea></div>
    <button class="post_button"><b>POST</b></button>    </form> 
</div></div>