<div class="sidebar_container">
    <table class="sidebar">
    <tr>
        <td>
            <font size=5 data-section="home"><b>
                    <h1 class="top-brand-logo sidebar-items"><img src="TwitInbook.png" alt="TwitInbook" class="logo"><I 
                            class="playwrite-co-guides-regular tangerine-regular tangerine-bold">TwitInBook</I></span>
                    </h1>
                </b>
            </font>
     <tr>
        <td>
            <span class="sidebar-items" data-section="home">
                <i class="material-icons-outlined icon">home</i><span class="sidebar-items-title">Home</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="sidebar-items" data-section="search">
                <i class="material-icons icon">search</i><span class="sidebar-items-title">Search</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="sidebar-items" data-section="favourite">

                <i class="material-icons-outlined icon">favorite</i><span class="sidebar-items-title">Favourite</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="sidebar-items" data-section="create" >
                <i class="material-icons icon" >loupe</i><span class="sidebar-items-title">Create</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="sidebar-items" data-section="profile">
                <img src="https://images.unsplash.com/photo-1725714834773-b5f278346915?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="some image" style="height:30px;width:30px;border-radius: 50%; margin-right: 15px;"><span class="sidebar-items-title">Profile</span>
            </span>
        </td>
    </tr>
</table>
</div>