.home_container {
  height: 100vh !important;
  margin-left: 20px;
  padding-left: 25px;
  margin-top: 12px;
  margin-right: 10px;
  padding-right: 10px;
  overflow-y: auto;
}


.playwrite-co-guides-regular {
  font-family: "Playwrite CO Guides", serif;
  font-weight: 400;
  font-style: normal;
}


.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
}

.post_para {
  letter-spacing: 1px;
  margin-left: 38px;
  font-weight: 400 !important;
}


#opacity {
  opacity: 0.8;
}


.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}


.user-details {
  display: flex;
  align-items: center;
  gap: 5px
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


.box_post {
  padding: 10px;
  background-color: wheat;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  box-shadow: -10px 15px 10px wheat;

}

/* .like{
  margin-right: -312px;
  margin-left: 36px;
}

.share{
  margin-left : 180px;
}

.bookmark{
  margin-left: 208px;
} */

.post_icons {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px !important;
}