.home_container {
  margin-left: 20px;
  padding-left: 25px;
  margin-top: 12px;
  margin-right: 10px;
  padding-right: 10px;
}

.heading {
  position: fixed;
}

#post_list{
  height: 80vh;
  margin-top: 15%;
  overflow-y: auto;
  margin-left: -30px;
  padding-left: 25px;
}

.playwrite-co-guides-regular {
  font-family: "Playwrite CO Guides", serif;
  font-weight: 400;
  font-style: normal;
}


.tangerine-bold {
  font-family: "Tangerine", serif;
  font-weight: 700;
  font-style: normal;
}

.post_para {
  letter-spacing: 1px;
  margin-left: 38px;
  font-weight: 400 !important;
}


#opacity {
  opacity: 0.8;
}


.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}


.user-details {
  display: flex;
  align-items: center;
  gap: 5px
}

.box_post {
  padding: 10px;
  background-color: wheat;
  border-radius: 30px;
  color: rgb(0, 0, 0);
  box-shadow: -10px 15px 10px wheat;

}

.post_icons {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}