body {
    background-color: black;
    font-weight: 200;
    color: blanchedalmond;
    overflow: hidden;
}

.components {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}