.rightbar_container {
  height: 703px;
  padding-left: 20px;
  margin-right: 5px;
  border-left-style: solid;
}

/* .search{
    border-radius: 30px;
    height:36px;
    width: 302px;
    background-color: rgb(49, 50, 50);
    color: white;
} */

.whats_happening {
  background-color: black;
  color: white;
  border: none !important;
  /* border-color:azure;
    border-radius: 30px; */
  font-size: 20px;
  resize: none;
  width: 100%;
}

.whats_happening:focus{
  outline: none;
}


.post_button {
  margin-left: 273px !important;
  margin-top: 10px !important;
  border-radius: 20px;
  color: black;
  background-color: wheat;
  padding: 9px 20px 9px 20px;
}



.post_div {
  display: flex;
  align-items: start;
  gap: 5px;
}


.post_profile_icon {
  font-size: 50px !important;
}

